Ejercicio_01.json
[
    {
        "id": "81f854aba04d2031",
        "type": "tab",
        "label": "Ejercicio 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bcecbe7aea8dbb2",
        "type": "mqtt in",
        "z": "81f854aba04d2031",
        "name": "iot/temperatura",
        "topic": "iot/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5310b689cb05abd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "3949c3902140f2a5",
                "1205f072b53b47f5",
                "f99c31bed971005d"
            ]
        ]
    },
    {
        "id": "3949c3902140f2a5",
        "type": "function",
        "z": "81f854aba04d2031",
        "name": "insertar",
        "func": "node.warn(isNaN(msg.payload));\n\nif(msg.topic === \"iot/temperatura\"  && !isNaN(msg.payload)){\n    msg.topic = \"INSERT INTO tbl_temperatura(temperatura,descripcion)\"\n        + \"VALUES(\" + msg.payload + \",'Inserción desde MQTT')\";\n}else {\n    msg.topic = \"\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "56fe55ea33695463"
            ]
        ]
    },
    {
        "id": "56fe55ea33695463",
        "type": "mysql",
        "z": "81f854aba04d2031",
        "mydb": "4809be0e5e60c63f",
        "name": "Base de datos",
        "x": 840,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1205f072b53b47f5",
        "type": "ui_gauge",
        "z": "81f854aba04d2031",
        "name": "Temperatura",
        "group": "4dae6f0e488a3a12",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Cálculo de temperatura",
        "label": "C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#2472f0",
            "#00e604",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "f99c31bed971005d",
        "type": "ui_chart",
        "z": "81f854aba04d2031",
        "name": "Histórico",
        "group": "c88ec7012585ede3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ec6ac9",
            "#c5e17a",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f64c510561010d52",
        "type": "comment",
        "z": "81f854aba04d2031",
        "name": "MQTT SUB",
        "info": "# Topico\n\n``` shell\niot/temperatura\n```",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b8a6937404a65d2",
        "type": "mqtt in",
        "z": "81f854aba04d2031",
        "name": "iot/humedad",
        "topic": "iot/humedad",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5310b689cb05abd8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "fdbbf2f53c5c5496",
                "f99c31bed971005d"
            ]
        ]
    },
    {
        "id": "fdbbf2f53c5c5496",
        "type": "ui_gauge",
        "z": "81f854aba04d2031",
        "name": "Humedad",
        "group": "4dae6f0e488a3a12",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humedad",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#d7c465",
            "#5dea5f",
            "#80dbf9"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "7aa0a59ab4ec433d",
        "type": "comment",
        "z": "81f854aba04d2031",
        "name": "GDS0551",
        "info": "# Nombre del Alumno\nMayra Alejandra Galvan Garcia\n\n# Núm. Control\n1222100429",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "5310b689cb05abd8",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "ale",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "30",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "2",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4809be0e5e60c63f",
        "type": "MySQLdatabase",
        "name": "Server DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4dae6f0e488a3a12",
        "type": "ui_group",
        "name": "información",
        "tab": "3c40e5fc52eb938e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c88ec7012585ede3",
        "type": "ui_group",
        "name": "Histórico de Datos",
        "tab": "3c40e5fc52eb938e",
        "order": 4,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c40e5fc52eb938e",
        "type": "ui_tab",
        "name": "IoT",
        "icon": "payment",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]